<style>
html, body, div, p{
	margin: 0;
	padding:0;
}
</style>
<div style="width:100%; display: inline-block">
	<div style="width:48%;float:left">
		<h1><%= @cdetails[0]["cname"] %></h1>
		<p><%= @cdetails[0]["street"] %></p>
		<p><%= @cdetails[0]["town"] %></p>
		<p><%= @cdetails[0]["phno"] %></p>
		<p><%= @cdetails[0]["email"] %></p>
	</div>
	<div style="width:48%;float:right; text-align:right">
		<h1>INVOICE</h1>
		<p><%= @cldetails[0]["date"] %></p>
		<p><%= @cldetails[0]["ino"] %></p>
		<p><%= @cldetails[0]["po"] %></p>
		<p><%= @cldetails[0]["name"] %></p>
		<p><%= @cldetails[0]["clname"] %></p>
	</div>
</div>
<div>
<p><%= @text1.html_safe %></p>
</div>
</div>
<div>
<table>
  <tr>
    <th>Index</th>
    <th>Item Description</th>
	<th>Quantity</th>
	<th>Unit Price</th>
	<th>Total</th>
  </tr>
  <% for i in @items%>
  <tr>
    <td><%=  %></td>
    <td><%= @items[0]["item"] %></td>
	<td><%= @items[0]["qty"] %></td>
	<td><%= @items[0]["up"] %></td>
	<td><%= @items[0]["tot"] %></td>
  </tr>
  <%end%>
  <%# <tr>
    <td>1</td>
    <td>item2</td>
	<td>1</td>
	<td>1000</td>
	<td>1000</td>
  </tr>
  <tr>
    <td>1</td>
    <td>item3</td>
	<td>1</td>
	<td>1000</td>
	<td>1000</td>
  </tr>
  <tr>
    <td>1</td>
    <td>item4</td>
	<td>1</td>
	<td>1000</td>
	<td>1000</td>
  </tr> %>
</table>
</div>
<div>
<p><%= @text2.html_safe %></p>
</div>